.element__like {
    padding: 0;
    align-self: center;
    border-width: 0;
    width: 26px;
    height: 19px;
    background-image: url('../../../images/like.svg');
    background-position: center;
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: opacity .25s ease;
}

.element__like:hover {
    cursor: pointer;
    opacity: 0.5; 
}