.element__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    margin: 0;
    padding: 0;
    transition: opacity .25s ease;
    border-width: 0;
    background-color: transparent;
    background-image: url('../../../images/delete.png');
    background-repeat: no-repeat;
    background-position: center;
}

.element__delete:hover {
    cursor: pointer;
    opacity: 0.6;
}