.content {
    max-width: 880px;
    min-height: 75vh;;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    background: #000000;
    color: #FFFFFF;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
    .content {
        max-width: 72%;
    }
}  
@media screen and (max-width: 576px) {
    .content {
        max-width: 80%;
    }
}    

@media screen and (max-width: 320px) {
    .content {
        max-width: 88%;
    }    
}