.profile__add-button {
    max-width: 150px;
    max-height: 50px;
    min-width: 150px;
    min-height: 50px;
    /*width: 17%;
    height: 6%;*/
    padding: 0;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    background-color: black;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.5;    
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        max-width: 282px;
        max-height: 50px;
        min-width: 282px;
        min-height: 50px;
    }    
}