.footer__copyright {
    margin: 0 0 60px;
    padding-left: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 576px) {
    .footer__copyright {
        margin-bottom: 36px;
        padding-left: 19px;
        font-size: 14px;
        line-height: 17px;
    }    
}